
<h1>商品一覧</h1>
<% if current_user.admin_flg == true %>
  <%= link_to "新規登録", new_product_path %>
<% end %>

<% @products.each do |product| %>
  <div>
    <p>商品名: <%= product.name %></p>
    <p>説明: <%= product.description %></p>
    <p>価格: <%= product.price %> 円</p>
    <%= link_to "詳細", product_path(product.id) %>
  </div>

  <hr>

<% end %>