<h1>商品詳細</h1>

<div>
  <p>商品名: <%= @product.name %></p>
  <p>説明: <%= @product.description %></p>
  <p>価格: <%= @product.price %>円</p>
  
  <% if current_user.admin_flg == true %>
      <%= link_to "編集", edit_product_path(@product) %>
      <%= link_to '削除', product_path(@product),  data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
    <% else %>
      <%= link_to '注文する', new_order_path(product_id:@product.id) %>
  <% end %>
</div>